**QUESTION 1**
CREATE AN EMPTY LIST.ACCEPT 10 NUMBERS FROM THE USER AND APPEND TO IT THE LIST IF IT IS AN EVEN NUMBER

In [2]:

# creating an empty list
lst = []

#accepting 10 numbers from the user
for i in range(0,10): 
  x = int(input("\nEnter the value : "))
  lst.append(x)
  
  #creating another empty list to append only even values
even_lst = []

#append only even numbers

for i in lst:
    if(i%2==0):
      even_lst.append(i)
   
print("even appended list is",even_lst)

Enter the value : 1

Enter the value : 2

Enter the value : 3

Enter the value : 4

Enter the value : 5

Enter the value : 6

Enter the value : 7

Enter the value : 8

Enter the value : 9

Enter the value : 10
even appended list is [2, 4, 6, 8, 10]

**QUESTION 2** 
CREATE A NOTEBOOK ON LIST COMPREHENSION.THIS EXERCISE IS TO PUT YOU IN A SELF LEARNING MODE

In [3]:
#list comprehension
even_lst=[i for i in lst if i%2==0]
print("The output list is ",even_lst)

The output list is  [2, 4, 6, 8, 10]

**QUESTION 3**
You have seen in the videos how powerful dictionary data structure is.
In this assignment, given a number n, you have to write a program that generates a dictionary d which
contains (i, i*i), where i is from 1 to n (both included).
Then you have to just print this dictionary d.
Example:
Input: 4
will give output as
{1: 1, 2: 4, 3: 9, 4: 16}
Input Format:
Take the number n in a single line.
Output Format:
Print the dictionary d in a single line.
Example:
Input:
8
Output:
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}